<div id="modal">
	<div class="modal__close js-close">&times;</div>
	<div class="modal__arrow modal__arrow--left">‹</div>
	<div class="modal__arrow modal__arrow--right">›</div>

	<div class="swipe" id="swipe">
		<div class="swipe-wrap" id="modal-content"></div>
	</div>
</div>