.big-image {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 20px;
	color: #fff;
	@include clearfix;
}
.big-image__img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 50px 5px;
	opacity: 0;
	max-height: 100%;
	max-width: 100%;
	@include transition(opacity 2s ease);
	&.loaded {
		opacity: 1;
	}
}
.big-image__img + .big-image__loading {
	position: absolute;
	top: 50%;
	opacity: 1;
	@include transition(opacity 0.5s ease);
}
.big-image__img.loaded + .big-image__loading {
	opacity: 0;
}
.big-image__caption {
	display: block;
	width: 100%;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.big-image__original {
	padding-bottom: 5px;
	@include transition(opacity 0.25s ease);
	&:hover {
		opacity: 0.8;
	}
}
.big-image__extra {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: block;
	overflow: visible;
	margin-left: -20px;
}
.big-image__service {
	@extend %icon;
	display: block;
	float: none;
}
.big-image__service--instagram {
	@extend .icon-instagram;
}.big-image__service--flickr {
	@extend .icon-flickr;
}.big-image__service--px {
	@extend .icon-px;
}