footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 20px;
	text-align: center;
	background-color: #333;
	color: #fff;
	opacity: 0;
	@include transition(all 2s ease-in);
	.state-blank & {
		opacity: 0;
		@include transform(translateY(100%));
	}
	.state-album & {
		opacity: 1;
	}
}